
<div class="jumbotron jumbotron--extend">
    <div class="container-fluid jumbotron-container">
      <h1 class="site-name">BGMや効果音を無料でダウンロード</h1>
      <h3>動画制作に最適な"音"が見つかる</h3>
      <form class="form-extend">
          <div class="input-group">
            <input type="text" class="form-control" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-warning">検索</button>
            </div>
          </div>
      </form>
    </div>
</div>

<div class="index-info-bar">
  人気効果音ランキング
</div>

<div class="index_contents">
<%= render 'sounds/sound' %>
</div>


<div class="index-info-bar">
  人気BGMランキング
</div>

<div class="index_contents">
<%= render 'sounds/soundb' %>
</div>
