<% if user_signed_in? %>
  <% unless current_user.creator.nil? %>
    <% if current_user.creator.id == @creator.id %>
      <%= link_to "サウンド登録ページへ", new_sound_path %>
    <% end %>
  <% end %>
<% end %>

<div class="creator-page-info-bar">
  ステータス
</div>


<table class="table">
  <tr><td>いいねされた回数</td><td><%= @likes.count %></td></tr>
  <tr><td>ダウンロードされた回数</td><td><%= @downloads.count %></td></tr>
</table>

<div class="creator-page-info-bar">
  アップロード履歴
</div>

<%= render 'sounds/sound', sounds: @sounds %>
