<div class="jscroll">
  <%= render 'sounds/sound', sounds: @results %>
  <div class="sound_list">
    <%= link_to_prev_page @results, '前のページ', class: "prev" %>
    <%= link_to_next_page @results, '次のページ', class: "next" %>
  </div>
</div>
